.toggle-container {
  position: relative;
  width: 40px;
  height: 22px;
  background-color: var(--marine-blue);
  border-radius: 30px;

  .circle {
    position: absolute;
    height: 14px;
    width: 14px;
    background-color: white;
    border-radius: 50%;
    top: 4px;
    left: 5px;
    transition: left 100ms;
  }

  .circle.active {
    left: 22px;
  }
}

.toggle-container:hover {
  cursor: pointer;
}
